/*
	Theme:
	dark : #3663AB
	mid  : #5F89CC
	light: #E8EEF7
*/
body {
	font-family: arial;
	font-size: 12px;
}

h3 {
	background-color: #5F89CC;
	color: #f2f2f2;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

ul {
	padding-left: 2.5em;
}

li {
	list-style-type: none;
	margin-bottom: 1em;
}

a {
	color: #3663AB;
	text-decoration: none;
}

p {
	margin: 0.5em 0em 0.5em 0em;
}

blockquote {
	background-color: #E8EEF7;
	padding: 0.25em;
}

li > a:first-child {
	margin-right: 0.25em;
	margin-left: -1.5em;
	color: transparent;
	background-color: #5F89CC;
	display: inline-block;
	width: 1em;
}